<div class = "container">

		<div class = "title">
        
        <h1><%= image_tag('dcheck.jpeg') %>Double Check!</h1>

        <h2>Pack smarter, let us help.</h2>
        </div>

        <div class = "content">
        <h3> Traveling to scorching hot places? Frigid mountains? or just hiking nearby.

        Get the best gear for anything! From real people and experts who been there, done that.
        </h3>
        </div>

    <div class = "photos">
    	<%= image_tag('tropical.jpeg') %>
        <%= image_tag('cruiseboat.jpeg') %>
        <%= image_tag('Alaska.jpeg') %>
        <%= image_tag('chinawall.jpeg') %>
        <%= image_tag('roadtrip.jpeg') %>
        <%= image_tag('grocerystore.jpeg') %>
        <%= image_tag('desert.jpeg') %>
        <%= image_tag('hike.jpeg') %>

    </div>

 </div>